/.venv
/.venv_engine
*.pyc
*.pyd
*.pyc
/.venv_pypi_smoke_2
./venv_i9
python/fullbleed/_fullbleed.cp311-win_amd64.pyd
python/fullbleed_cli/__pycache__/scaffold.cpython-311.pyc
scafold_engine_review.md

/.venv_i9
/target
/examples/template-flagging-smoke/output
